<%= render "image" %>

<div class="flex justify-center mt-[-20%] sm:mt-[-25%]">
  <div class="w-[90%] sm:w-[70%] z-[800]">
    <div class="rounded-lg shadow-md shadow-gray-700 justify-between bg-white italic p-6 sm:p-12 space-y-4">
      <p<%= raw @design_office.content %></p>
    </div>
  </div>
</div>