<div class="flex justify-center min-h-screen">
    <div class="w-[90%] sm:w-[60%] mt-6 sm:mt-14 boder bg-white rounded-lg p-4 sm:p-10">
      <p class="text-center font-bold text-2xl sm:text-4xl">Xin chào <%= @user.name %>! </p>
      <p class="font-light font-sans m-2"><%= link_to "Giỏ hàng của bạn", cart_path %></p>
      <p class="font-light font-sans m-2"><%= link_to "Đơn hàng của bạn", orders_path %></p>
      <%= button_to "Đăng xuất", logout_path, method: :delete, class:"font-light font-sans mx-2"%>
    </div>
</div>

