<%= render "image" %>

<div class="flex justify-center mt-[20%] sm:mt-[-25%]">
  <div class="w-[90%] sm:w-[70%] z-[800]">
    <div class="rounded-lg shadow-md shadow-gray-700 justify-between bg-white italic p-6 sm:p-12 space-y-4">
      <p><%= raw @factory.content %></p>
    </div>
  </div>
</div>


<div class="mt-20 mb-20 grid grid-cols-1 md:grid-cols-3 gap-8 text-center">
  <div>
    <h3 class="text-lg font-semibold">Sản xuất trực tiếp</h3>
    <p class="text-sm text-gray-500 mt-2">
      Không qua trung gian – kiểm soát chất lượng
    </p>
  </div>

  <div>
    <h3 class="text-lg font-semibold">Thiết bị & tay nghề</h3>
    <p class="text-sm text-gray-500 mt-2">
      Máy móc hiện đại kết hợp kinh nghiệm thực tế
    </p>
  </div>

  <div>
    <h3 class="text-lg font-semibold">Tiến độ & bảo hành</h3>
    <p class="text-sm text-gray-500 mt-2">
      Minh bạch – rõ ràng – lâu dài
    </p>
  </div>
</div>
s
