<%= render "home/image_main" %>
<div class="flex justify-center">
  <%= render "home/introduction" %>
</div>
<div class="flex justify-center">
  <%= render "home/promotion" %>
</div>

<%= render "items/name_web" %>