<h1>Liên hệ</h1>

<p><strong>Địa chỉ:</strong> <%= @contact.address %></p>
<p><strong>Số điện thoại:</strong> <%= @contact.phone %></p>
<p><strong>Zalo:</strong> <%= @contact.zalo %></p>
<p><strong>Facebook:</strong> <%= @contact.fb %></p>