<%= turbo_stream.replace "cart-count-wrapper" do %>
  <span id="cart-count-wrapper"
        class="absolute -top-2 -right-2">
    <span id="cart-count"
          class="bg-red-500 text-white text-xs px-2 py-0.5 rounded-full">
      <%= current_user.cart_items.sum(:quantity) %>
    </span>
  </span>
<% end %>
