<%= turbo_stream.replace "cart-count" do %>
  <span id="cart-count" class="absolute -top-2 -right-2 bg-red-500 text-white text-xs px-2 py-0.5 rounded-full">
    <%= current_user.cart_items.sum(:quantity) %>
  </span>
<% end %>

<%= turbo_stream.append "flash" do %>
  <div class="bg-green-500 text-white px-4 py-2 rounded shadow">
    Thêm vào giỏ hàng thành công
  </div>
<% end %>
