<h1>Chỉnh sửa Giới thiệu</h1>

<%= form_with model: @introduction, url: admin_introduction_path, local: true, method: :patch do |f| %>
  <div>
    <%= f.label :content, "Nội dung" %><br>
    <%= f.text_area :content, rows: 10, cols: 80 %>
  </div>

  <div>
    <%= f.submit "Cập nhật" %>
  </div>
<% end %>
