<form action="<%= products_path %>" method="get" class="relative">
  <input type="text"
         name="q"
         placeholder="Tìm sản phẩm..."
         class="w-full border border-gray-200 rounded-lg
                px-4 py-3 text-sm
                focus:outline-none focus:border-black
                transition" />
</form>
