<div class="flex justify-start px-2 sm:p-0">

  <div class="flex flex-col justify-center items-center">
    <%= link_to root_path do %>
      <% if @slogan.image.attached? %>
        <%= image_tag @slogan.image, class: "h-12" %>
      <% end %>
    <% end %>

    <% if @slogan %>
      <span class="text-[6px] md:text-[8px]">
        <%= @slogan.content %>
      </span>
    <% end %>
  </div>
</div>
