<div class="flex justify-start mr-4 sm:ml-6 sm:px-0">
  <%= link_to root_path do %>
    <% if @slogan.image.attached? %>
      <%= image_tag @slogan.image, class: "w-[200px]" %>
    <% end %>
  <% end %>
</div>
