<div class="flex justify-start px-2 sm:ml-6 sm:px-0">
  <%= link_to root_path do %>
    <% if @slogan.image.attached? %>
      <%= image_tag @slogan.image, class: "h-16 w-auto object-contain" %>
    <% end %>
  <% end %>
</div>
